@use "../global" as *;
//fv
$fv_text_fz: 60px;
$fv_column_gap: 80px;
$fv_text_margin: 45px;

.fv {
    width: 100%;
    height: 100vh;
}
.fv__inner {
    display: flex;
    width: 100%;
    height: inherit;
    padding: 0 80px;

    column-gap: $fv_column_gap;
}
.fv__slick {
    //TODO 他の実装方法がないか調べる。どの幅まで縮まることを想定するかがわからないので、レスポンシブ後に確認する。うまく言語化できればchatGPTも使えるかも
    width: calc(100% - ($fv_text_fz * 2 + $fv_column_gap + $fv_text_margin));
}

.fv__slick img {
    height: 100vh;

    -o-object-fit: cover;
    object-fit: cover;
}

.fv__text-container {
    display: flex;
    align-items: center;
}
.fv__text-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.fv__text {
    font-weight: $bold;
    font-size: $fv_text_fz;
    line-height: 1;
    letter-spacing: -0.01em;

    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
}

.fv__text:nth-child(1) {
    margin-left: $fv_text_margin;
}

//flowing-box
.flowing-box {
    margin-top: 118px;
    .flowing-box__inner {
        position: relative;
        height: 150px;
        overflow: hidden;
        .flowing-box__body {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: $navy;
            font-weight: $bold;
            font-size: 150px;
            font-family: "Noto Sans JP";
            white-space: nowrap;
        }
    }
}

//top-about
.top-about {
    margin-top: 60px;
}
.top-about__inner {
    display: grid;

    grid-template-columns: 1fr 1fr;
}
.top-about__body {
    margin-left: 60px;
}

.top-about__title {
    margin-top: 70px;
    font-weight: $bold;
    font-size: 20px;
    line-height: 2;
    font-family: "oswald";
}

.top-about__text {
    margin-top: 30px;
    font-weight: $medium;
    line-height: 2;
}
.top-about__link-wrapper {
    display: flex;
    margin-top: 46px;
    padding-right: 20px;
}

.top-about__link {
    position: relative;
    margin-left: auto;
}

//top-service

.top-service {
    padding-top: 120px;
    padding-bottom: 84px;
}

.top-service__cards {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 48px;
    column-gap: 48px;
    //レスポンシブにするとき
    //grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card {
    position: relative;
}

.card__title-wrapper {
    position: absolute;
    top: 20%;
    margin-left: 30px;
}

.card__title-sub {
    color: $white;
    font-weight: $bold;
    font-size: 16px;
    line-height: 1.2;
    font-family: "Oswald";
}

.card__title-main {
    margin-top: 17px;
    color: $white;
    font-weight: $bold;
    font-size: 26px;
    line-height: 1.2;
}

.card__text {
    margin-top: 14px;
    color: $black;
    font-weight: $medium;
    font-size: 16px;
    line-height: 2;
}

.card__link-wrapper {
    display: flex;
    margin-top: 28px;
}

.card__link {
    margin-left: auto;
}

.top-works {
    padding-top: 126px;
    padding-bottom: 150px;
    background-color: $lightgray;
}

.top-works__articles-wrapper {
    margin-top: 40px;
    padding: 0 25px 50px;
    background-color: $white;
}

.top-works__article {
    display: flex;
    padding: 50px 40px 88px;
    border-bottom: 1px solid $gray4;
}

.top-works__article-img {
    width: 290px;

    object-fit: contain;
}

.top-works__article-body {
    margin-left: 50px;
}

.top-works__article-title {
    position: relative;
    margin-top: 37px;
    font-size: 24px;
    line-height: calc(38 / 24);
}
//blockのサイズまで広がってしまう
.top-works__article-title::before {
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: scale(0, 1);
    width: 100%;
    height: 1px;
    background: $navy;
    content: "";
    transition: transform 0.3s;

    transform-origin: left top;
}
.top-works__article-title:hover::before {
    transform: scale(1, 1);
}

.top-works__article-text {
    margin-top: 15px;
    color: $gray;
    font-size: 16px;
    line-height: calc(38 / 16);
}
.top-works__date {
    margin-top: 41px;
}

.top-works__link-container {
    display: flex;
    margin-top: 50px;
}

.top-works__link {
    margin-left: auto;
}
//top-news
.top-news {
    padding-bottom: 171px;
    background-color: $lightgray;
}
.top-news__inner {
    display: flex;
}
.top-news__side {
    padding-right: 94px;
    border-right: 1px solid $gray4;
}
.top-news__tag-list {
    margin-top: 49px;
}

.top-news__tag-list {
    //
}

.top-news__tag-list-item {
    color: $gray4;
}
.top-news__tag-list-item:not(:first-child) {
    margin-top: 26px;
}

.top-news__tag-list-item.top-news__tag-list-item--selected {
    position: relative;
    color: $black;
}
.top-news__tag-list-item.top-news__tag-list-item--selected::before {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: $black;
    content: "";
}

.top-news__link-container {
    display: flex;
}

.top-news__link {
    margin-left: auto;
}

.top-news__main {
    width: 100%;
    padding: 0 40px;
}

.top-news__article {
    padding-bottom: 30px;
    border-bottom: 1px solid $gray4;
}

.top-news__article:not(:first-child) {
    padding-top: 30px;
}

.top-news__tag {
    margin-left: 34px;
}
.top-news__tag + .top-news__tag {
    margin-left: 20px;
}

.top-news__article-title {
    margin-top: 31px;
}
