@use "../global" as *;

.single {
  padding-top: 120px;
}

.single__wrapper {
  display: flex;
  width: 100%;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  padding: 60px 20px 120px;

  @include mq("md") {
    display: block;
    padding: 0 10px;
  }
}

.single__tag:not(:first-child) {
  margin-left: 20px;
}

.single__main {
  margin-top: 0;

  @include mq("md") {
    padding-bottom: 80px;
  }
}

.single__main-inner {
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;

  @include mq("md") {
    padding: 0 10px;
  }
}

.single__date {
  display: block;
  margin-top: 36px;
}

.single__title {
  margin-top: 20px;
  font-weight: $medium;
  font-size: 26px;
}

.single__img {
  height: auto;
  margin-top: 40px;
}

.single__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 43px;
  margin: 60px auto 0;
  border: $dark_navy 1px solid;
  border-radius: 4px;
  color: $dark_navy;
  font-size: 14px;
}

.single__sidebar {
  width: 300px;

  @include mq("md") {
    width: 100%;
    padding-bottom: 80px;
  }
}