@use "sass:math";
// 色
$white: #ffffff;
$black: #000000;
$black2: #242424;
$navy: #011950;
$dark_navy: #001e63;
$dark_navy2: #001135;
$lightgray: #f8f8f8;
$gray: #626262;
$gray2: #f3f3f3;
$gray3: #a9a9a9;
$gray4: #e2e2e2;
$gray5: #e9eeef;
$red: #e20000;
