@use "../global" as *;

.footer__contact {
    display: flex;

    @include mq("md") {
        flex-direction: column-reverse;
    }
}
.footer__contact-img {
    width: 57.6388%;

    @include mq("md") {
        width: 100%;
    }
}
.footer__contact-img img {
    height: 100%;

    object-fit: cover;
    @include mq("md") {
        height: 240px;
    }
}

.footer__contact-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42.3612%;
    padding: 20px;
    background-color: $navy;
    color: $white;

    @include mq("md") {
        width: 100%;
        padding-top: 84px;
        padding-bottom: 80px;
    }
}
.footer__contact-text {
    font-size: 18px;
    line-height: calc(30 / 18);
}

.footer__contact-button {
    display: flex;
    position: relative;
    width: 235px;
    height: 68px;
    padding: 26px 33px 21px 30px;
    border: 1px solid $white;
    border-radius: 4px;
    font-size: 22px;
    font-family: "Noto Sans JP";
    white-space: nowrap;

    img {
        position: relative;
        top: -3px;
        width: 22px;
        height: 22px;
    }
    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-left: 16px;
    }
}

.footer__contact-small-text {
    font-size: 14px;
    font-family: "Noto Sans JP";
}
.footer__contact-small-text {
    margin-top: 24px;
}

.footer__contact-button {
    margin-top: 35px;
}
.footer__contact-button:not(:first-child) {
    margin-top: 20px;
}

.footer__main {
    display: flex;
    background-color: $dark_navy2;

    @include mq("md") {
        flex-direction: column-reverse;
    }
}

.footer__main-body {
    width: 79.167%;
    margin-top: 100px;
    margin-bottom: 63px;
    padding-left: 15%;

    @include mq("md") {
        width: 100%;
        margin: 0;
        padding: 0 40px 30px;
    }
}

.footer__links {
    width: 20.833%;

    @include mq("md") {
        width: 100%;
        padding-left: 50px;
    }
}

.footer__logos {
    display: flex;

    @include mq("md") {
        display: block;
    }
}
.footer__logo {
    width: 258px;

    @include mq("md") {
        width: 115px;
    }
}

.footer__sns-icons {
    display: flex;
    margin-left: 46px;

    @include mq("md") {
        margin-top: 50px;
        margin-left: 0;
    }
}
.footer__sns-icon {
    width: 22px;
}

.footer__sns-icon:not(:first-child) {
    margin-left: 20px;
}
.footer__copyright {
    display: inline-block;
    margin-top: 25px;
    color: $white;
    font-size: 12px;

    @include mq("md") {
        margin-top: 50px;
    }
}

.footer-links {
    margin-top: 57px;
    margin-bottom: 58px;
}
.footer-link:not(:first-child) {
    margin-top: 20px;
}

.footer-link__link {
    color: $white;
    text-transform: uppercase;
}
