@use "../global" as *;

.md-none {
    @include mq("md") {
        display: none;
    }
}

.md-show {
    display: none;

    @include mq("md") {
        display: block;
    }
}

.lg-none {
    @include mq("lg") {
        display: none;
    }
}

.lg-show {
    display: none;

    @include mq("lg") {
        display: block;
    }
}
