@use "../global" as *;

.service {
  background-color: $lightgray;
}

.service__inner {
  display: flex;

  @include mq("md") {
    display: block;
    padding: 0 20px;
  }
}

.service__img {
  width: vw(1440, 760);
  min-width: vw(1440, 760);

  @include mq("md") {
    width: 100%;
  }
}
.service__img img {
  height: 100%;

  object-fit: cover;
}

.service__body {
  padding-top: vw(1440, 70);
  padding-right: vw(1440, 110);
  padding-bottom: vw(1440, 70);
  padding-left: vw(1440, 170);

  @include mq("md") {
    padding-right: 0;
    padding-left: 0;
  }
}

.service__title-num {
  color: $dark_navy;
  font-size: 40px;
  font-family: $alphabet-font;
}

.service__title-num::after {
  display: inline-block;
  position: relative;
  top: 3px;
  width: 1px;
  height: 34px;
  margin-left: 16px;
  background-color: $navy;
  content: "";
}

.service__title-text {
  margin-top: 27px;
}

.service__text {
  margin-top: 25px;
}

.feature {
  padding-bottom: 150px;
}

.service__feature {
  margin-top: 30px;
}

.feature-title__main {
  text-transform: uppercase;
}

.feature__inner {
  padding-right: vw(1440, 170);
  padding-left: vw(1440, 170);
}

.feature-title__main {
  font-size: 22px;
  line-height: 1.8181;
  font-family: $alphabet-font;
}

.feature-title__sub {
  margin-left: 16px;
  color: $gray;
  font-size: 12px;
  line-height: 3.3333;
}

.feature__text {
  font-size: 16px;
  line-height: 2.375;
}